.checkout {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : flex-start;
    margin-top      : 30px;
    border-radius   : 20px;
    background-color: #fff;
    box-shadow      : 0 0 24px 0 rgba(47, 170, 247, 0.04);
    padding         : 20px;
    width           : 100%;
}

@media (min-width: 992px) {
    .checkout {
        padding: 40px;
    }
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442 !important;
    /* red */
}