<header class="header mb-3"
        *ngIf="data">
    <div class="container  no-print">
        <div class="row">
            <div class="col-12">
                <div class="header__content wow fadeInDown">
                    <a *ngIf="!isSpecialHome" routerLink="/"
                       class="header__logo wow fadeInDown">
                        <img *ngIf="data.logos && data.logos[0]"
                             src="{{data.logos[0].url}}"
                             alt="{{data.name}}">
                        <span *ngIf="!(data.logos && data.logos[0])"
                              [ngStyle]="{'color': color}">{{data?.name}}</span>
                    </a>
                    <a *ngIf="isSpecialHome" 
                       class="header__logo wow fadeInDown">
                        <img *ngIf="data.logos && data.logos[0]"
                             src="{{data.logos[0].url}}"
                             alt="{{data.name}}">
                        <span *ngIf="!(data.logos && data.logos[0])"
                              [ngStyle]="{'color': color}">{{data?.name}}</span>
                    </a>
                    <nav class="header__nav wow fadeInDown">
                        <a *ngIf="isHome"
                           href="#catalog">{{data?.catalog_link_text}}</a>
                        <a *ngIf="isHome && data?.about_section"
                           href="#about">{{data?.about_link_text}}</a>
                        <a *ngIf="isHome && data.activate_link_text && (data.activate_link_text != '')"
                           routerLink="/activate">{{data?.activate_link_text}}</a>
                        <a *ngIf="isHome && !isAdmin && authService.firebaseUser && data.view_results_text && (data.view_results_text != '')"
                           routerLink="/my">{{data?.view_results_text}}</a>
                        <a *ngIf="authService.firebaseUser && isHome && isAdmin"
                           routerLink="/admin">Admin</a>
                        <a *ngIf="authService.firebaseUser && isHome"
                           routerLink="/access/sign-out">{{data?.sign_out_text}}</a>
                        <a *ngIf="isHome && !authService.firebaseUser"
                           routerLink="/access">{{data?.sign_in_text}}</a>
                    </nav>
                    <div class="header__wrap">
                        <a *ngIf="authService.firebaseUser && !isHome && !isSignIn"
                           routerLink="/access/sign-out">Sign Out</a>
                        <a *ngIf="!authService.firebaseUser && !isHome && !isSignIn"
                           routerLink="/access">Sign In</a>
                        <div class="header__phone"
                             *ngIf="isHome && data && data.phone">
                            <a href="tel: {{data.phone}}"> {{data.phone}}</a>
                        </div>
                        <a href="#cart"
                           [ngStyle]="{'color': color}"
                           *ngIf="isHome">
                            <i class="fa fa-shopping-cart fa-2x"
                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>