<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid wow fadeInLeft mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Product Sub Type</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="dataName">Name</label>
                            <input [(ngModel)]="subType.name" type="text" name="dataName" id="dataName" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="dataPrice">Price</label>
                            <input [(ngModel)]="subType.price" type="number" name="dataPrice" id="dataPrice" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="salePrice">Sale Price</label>
                            <input [(ngModel)]="subType.salePrice" type="number" name="salePrice" id="salePrice" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="subType.onSale" type="checkbox" name="onSale" id="onSale" class="form-check-input">
                            <label class="form-check-label" for="onSale">On Sale</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<app-product-sub-type-list (id)="onEdit($event)" (deleteAction)="onDelete()" [data]="data"></app-product-sub-type-list>