<section class="section  pb-5" id="catalog" *ngIf="((productService.items | async)?.length != 0)">
    <div class="container">
        <div class="row  wow fadeInUp">
            <div class="col-12">
                <h2 [ngStyle]="{'color': colorService.secondaryColor}" class="section__title">{{data?.catalogSectionTitle}}</h2>
                <div class="section__sort" *ngIf="data && data.categorySection">
                    <button [ngClass]="{ 'active' : (currentFilter === '') }" (click)="resetFilter()" type="button">All</button>
                    <button *ngFor="let cat of categoryService.items | async" [ngClass]="{ 'active': (currentFilter === cat.name) }" (click)="setFilter(cat.name)" type="button">{{cat.name}}</button>
                </div>
            </div>
        </div>
        <div class="row mt-3  wow fadeInUp" *ngIf="data && data.categorySection">
            <div class="col-md-6">
                <select class="form-select mb-2" aria-label="Type select" [(ngModel)]="productType" (change)="typeChanged()">
                    <option value="" selected disabled hidden>Choose Type</option>
                    <option value="{{s.name}}" *ngFor="let s of productTypeService.items | async | nameSort; let x = index">{{s.name}} </option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter"></i></span>
                    <input [(ngModel)]="currentFilter" type="text" class="form-control" placeholder="Type to Search" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row  wow fadeInUp">
            <div class="col-12 col-sm-6 col-lg-4 col-container" *ngFor="let item of productService.items | async | catalogProductFilter:currentFilter | titleSort; let i = index">
                <div class="product" data-bs-toggle="tooltip" data-bs-placement="top" title="{{item?.description?.short}}">
                    <div class="product__img" *ngIf="item.files && item.files[0] && item.files[0].url">
                        <img src="{{item?.files[0]?.url}}" alt="{{item?.title}}">
                    </div>
                    <h3 class="product__title">{{ item?.title }}</h3>
                    <div class="container-fluid flush">
                        <div class="row">
                            <div class="col-md">
                                <span *ngIf="item.active && !item.onSale" class="product__price">{{ item?.price | currency }}</span>
                                <span *ngIf="item.active && item.onSale" class="product__price">{{ item?.salePrice | currency }}</span>
                            </div>
                        </div>
                        <span *ngIf="!item.active || !item.price" class="text-danger"> Not Available</span>
                    </div>
                    <button *ngIf="item.active" (click)="addToCart(item)" class="product__add" type="button">
                        <svg *ngIf="item.active" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
                            <path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px' />
                            <line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
                            <line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>