<form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="data">
    <div class="containter-fluid wow fadeInLeft">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Home Page Sections</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="data.homeSection" type="checkbox" name="homeSection" id="homeSection" class="form-check-input" autofocus>
                            <label class="form-check-label" for="homeSection">Home Section</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="data.checkoutSection" type="checkbox" name="checkoutSection" id="checkoutSection" class="form-check-input">
                            <label class="form-check-label" for="checkoutSection">Check Out Section</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="data.aboutSection" type="checkbox" name="aboutSection" id="aboutSection" class="form-check-input">
                            <label class="form-check-label" for="aboutSection">About Section</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="data.footerSection" type="checkbox" name="footerSection" id="footerSection" class="form-check-input">
                            <label class="form-check-label" for="footerSection">Footer Section</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>