<div id="page" class="site">
    <!-- Start Header -->
    <header id="masthead" class="site-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.taliferro.com">
                    <img src="https://www.taliferro.com/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#737373" href="https://www.taliferro.com/#products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#737373" href="https://www.taliferro.com/#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#737373" href="https://www.taliferro.com/#about">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text" style="color: #191919;"> 425.305.3748 </span>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <section class="container-pages ta-vertical-center">
        <div class="card pages-card col-lg-8 col-md-8 col-sm-8">
            <div class="card-body ">
                <div class="user-img text-center" *ngIf="authService.firebaseUser && authService.firebaseUser.photoURL">
                    <img src="{{authService.firebaseUser.photoURL}}" alt="{{authService.firebaseUser.displayName}}" class="text-center">
                </div>
                <div class="h4 text-center text-theme wow fadeIn">
                    <strong *ngIf="authService.firebaseUser">{{authService.firebaseUser.displayName}}</strong>
                </div>
                <div class="text-center text-dark wow fadeIn">
                    <span *ngIf="authService.firebaseUser"><i class="fa fa-lock fa-4x" aria-hidden="true"></i> </span>
                    <span *ngIf="!authService.firebaseUser"><i class="fa fa-unlock fa-4x" aria-hidden="true"></i></span>
                </div>
                <div class="small text-center text-dark wow fadeIn">
                    <span *ngIf="authService.firebaseUser">Status: <strong>Logged In</strong> </span>
                    <span *ngIf="!authService.firebaseUser">Status: Not Logged In</span>
                </div>
                <div class="small text-center text-dark wow fadeIn" *ngIf="authService.firebaseUser"> {{authService.firebaseUser.email}} <span *ngIf="authService.firebaseUser.emailVerified"> <i
                            class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                    <span *ngIf="!authService.firebaseUser.emailVerified"></span>
                </div>
                <div class="text-center" *ngIf="!authService.firebaseUser">
                    <small>
                        <a routerLink="/identity" class="text-theme">Sign In</a>
                    </small>
                </div>
                <div class="text-center" *ngIf="authService.firebaseUser">
                    <small>
                        <a *ngIf="!authService.firebaseUser" href="https://passwordless.taliferro.com/sign-up" class="button button-white" title="Sign Up">Sign Up</a>
                        <a *ngIf="!authService.firebaseUser" routerLink="/identity" class="button button-white">Sign In</a> 
                        <a *ngIf="authService.firebaseUser" routerLink="/" class="button button-white">Home</a> 
                        <a *ngIf="authService.firebaseUser && userService.user && userService.user.companyId" routerLink="/admin" class="button button-white">Admin</a> 
                        <a *ngIf="authService.firebaseUser && userService.user && !userService.user.companyId" routerLink="/my" class="button button-white">Dashboard</a> 
                        <a *ngIf="authService.firebaseUser" routerLink="/identity/bye" class="button button-white">Sign Out</a> 
                    </small>
                    <hr>
                    <section id="latest-posts---1" class="container-fluid section-block">
                        <div class="container">
                          <div class="row">
                      
                            <h2 class="wow fadeInUp">{{environment.COMPANY_NAME}} Stores</h2>
                            <div class="block-desc wow fadeInUp">
                              <p>Shop and explore our collection of independent store owners.</p>
                            </div>
                      
                            <!-- Post 1 -->
                            <article class="col-md-4 index-post-block wow fadeInUp" *ngFor="let store of settingService.items | async; let i = index">
                              <div class="border-box" *ngIf="store.files">
                      
                                <header class="post-preview-header" *ngIf="store?.files[0]?.url && (store?.files[0]?.url !=null)">
                                  <div class="post-thumb">
                                    <img src="{{store?.files[0]?.url}}" alt="{{store?.title}}"> <!-- Post thumbnail -->
                                  </div>
                                </header>
                      
                                <div class="post-preview-content">
                      
                                  <div class="post-meta">
                                    <span class="post-date">
                                      <a (click)="onStoreEvent(store)" title="{{store?.title}}">{{store?.lastUpdated | date : 'medium'}}</a>
                                    </span>
                                  </div>
                      
                                  <h3><a (click)="onStoreEvent(store)" title="{{store?.title}}" innerHTML="{{store?.name}}"></a> </h3>
                      
                                  <div class="post-preview-text" innerHTML="{{store?.title}}">
                                  </div>
                      
                                </div> <!-- .post-preview-content -->
                      
                                <footer class="post-preview-footer">
                                  <a (click)="onStoreEvent(store)" class="button button-full text-white" title="Browse {{store?.name}}"><small>Shop</small></a>
                                </footer>
                      
                              </div>
                            </article> <!-- .index-post-block -->
                      
                      
                          </div> <!-- .row -->
                        </div> <!-- .container -->
                      </section>
                      
                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </section>
</div>
<!-- end section container -->
<div class="half-circle"></div>
<div class="small-circle"></div>