<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Customer Type</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select [(ngModel)]="data.type" name="type" id="type" class="form-select form-select-lg" autofocus>
                                <option value="" selected disabled hidden>Choose Type</option>
                                <option value="Patient">Patient</option>
                                <option value="Practitioner">Practitioner</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>