<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngIf="data" class="form-group mb-2">
                    <input [(ngModel)]="data.streetAddress1" id="streetAddress1" name="streetAddress1" placeholder="Street Address" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                        class="form-control form-control-lg" type="text" required>
                </div>
                <div *ngIf="data" class="form-group mb-2">
                    <input [(ngModel)]="data.streetAddress2" id="streetAddress2" name="streetAddress2" placeholder="Unit Number" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                        class="form-control form-control-lg" type="text">
                </div>
                <div *ngIf="data" class="form-group mb-2">
                    <input [(ngModel)]="data.city" id="city" name="city" placeholder="City" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                        class="form-control form-control-lg" type="text" required>
                </div>
                <div *ngIf="data" class="form-group mb-2">
                    <select [(ngModel)]="data.province" name="province" id="province" required class="form-select form-select-lg">
                        <option value="" selected disabled hidden>Choose State or Province</option>
                        <option value="AL">Alabama [AL]</option>
                        <option value="AK">Alaska [AK]</option>
                        <option value="AS">American Samoa [AS]</option>
                        <option value="AZ">Arizona [AZ]</option>
                        <option value="AR">Arkansas [AR]</option>
                        <option value="CA">California [CA]</option>
                        <option value="CO">Colorado [CO]</option>
                        <option value="CT">Connecticut [CT]</option>
                        <option value="DE">Delaware [DE]</option>
                        <option value="DC">District of Columbia [DC]</option>
                        <option value="FM">Federated States Of Micronesia [FM]</option>
                        <option value="FL">Florida [FL]</option>
                        <option value="GA">Georgia [GA]</option>
                        <option value="GU">Guam [GU]</option>
                        <option value="HI">Hawaii [HI]</option>
                        <option value="ID">Idaho [ID]</option>
                        <option value="IL">Illinois [IL]</option>
                        <option value="IN">Indiana [IN]</option>
                        <option value="IA">Iowa [IA]</option>
                        <option value="KS">Kansas [KS]</option>
                        <option value="KY">Kentucky [KY]</option>
                        <option value="LA">Louisiana [LA]</option>
                        <option value="ME">Maine [ME]</option>
                        <option value="MH">Marshall Islands [MH]</option>
                        <option value="MD">Maryland [MD]</option>
                        <option value="MA">Massachusetts [MA]</option>
                        <option value="MI">Michigan [MI]</option>
                        <option value="MN">Minnesota [MN]</option>
                        <option value="MS">Mississippi [MS]</option>
                        <option value="MO">Missouri [MO]</option>
                        <option value="MT">Montana [MT]</option>
                        <option value="NE">Nebraska [NE]</option>
                        <option value="NV">Nevada [NV]</option>
                        <option value="NH">New Hampshire [NH]</option>
                        <option value="NJ">New Jersey [NJ]</option>
                        <option value="NM">New Mexico [NM]</option>
                        <option value="NY">New York [NY]</option>
                        <option value="NC">North Carolina [NC]</option>
                        <option value="ND">North Dakota [ND]</option>
                        <option value="OH">Ohio [OH]</option>
                        <option value="OK">Oklahoma [OK]</option>
                        <option value="OR">Oregon [OR]</option>
                        <option value="PW">Palau [PW]</option>
                        <option value="PA">Pennsylvania [PA]</option>
                        <option value="PR">Puerto Rico [PR]</option>
                        <option value="RI">Rhode Island [RI]</option>
                        <option value="SC">South Carolina [SC]</option>
                        <option value="SD">South Dakota [SD]</option>
                        <option value="TN">Tennessee [TN]</option>
                        <option value="TX">Texas [TX]</option>
                        <option value="UT">Utah [UT]</option>
                        <option value="VT">Vermont [VT]</option>
                        <option value="VI">Virgin Islands [VI]</option>
                        <option value="VA">Virginia [VA]</option>
                        <option value="WA">Washington [WA]</option>
                        <option value="WV">West Virginia [WV]</option>
                        <option value="WI">Wisconsin [WI]</option>
                        <option value="WY">Wyoming [WY]</option>
                        <option value="">---------------------------------------------</option>
                        <option value="AB">Alberta [AB]</option>
                        <option value="BC">British Columbia [BC]</option>
                        <option value="MB">Manitoba [MB]</option>
                        <option value="NB">New Brunswick [NB]</option>
                        <option value="NF">Newfoundland and Labrador [NF]</option>
                        <option value="NT">Northwest Territories [NT]</option>
                        <option value="NS">Nova Scotia [NS]</option>
                        <option value="NU">Nunavut [NU]</option>
                        <option value="ON">Ontario [ON]</option>
                        <option value="PE">Prince Edward Island [PE]</option>
                        <option value="QC">Quebec [QC]</option>
                        <option value="SK">Saskatchewan [SK]</option>
                        <option value="YT">Yukon Territory [YT]</option>
                    </select>
                </div>
                <div *ngIf="data" class="form-group mb-2">
                    <input [(ngModel)]="data.zip" id="zip" name="zip" placeholder="Zip Code" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                        class="form-control form-control-lg" type="text" required>
                </div>
                <div *ngIf="data" class="form-group mb-2">
                    <select [(ngModel)]="data.country" name="country" id="country" class="form-select form-select-lg">
                        <option value="US">United States of America [US]</option>
                        <option value="CA">Canada [CA]</option>
                        <option value="">---------------------------------------------</option>
                        <option value="AF">Afghanistan [AF]</option>
                        <option value="AL">Albania [AL]</option>
                        <option value="DZ">Algeria [DZ]</option>
                        <option value="AS">American Samoa [AS]</option>
                        <option value="AD">Andorra [AD]</option>
                        <option value="AO">Angola [AO]</option>
                        <option value="AI">Anguilla [AI]</option>
                        <option value="AQ">Antarctica [AQ]</option>
                        <option value="AG">Antigua and Barbuda [AG]</option>
                        <option value="AR">Argentina [AR]</option>
                        <option value="AM">Armenia [AM]</option>
                        <option value="AW">Aruba [AW]</option>
                        <option value="AU">Australia [AU]</option>
                        <option value="AT">Austria [AT]</option>
                        <option value="AZ">Azerbaijan [AZ]</option>
                        <option value="BS">Bahama [BS]</option>
                        <option value="BH">Bahrain [BH]</option>
                        <option value="BD">Bangladesh [BD]</option>
                        <option value="BB">Barbados [BB]</option>
                        <option value="BY">Belarus [BY]</option>
                        <option value="BE">Belgium [BE]</option>
                        <option value="BZ">Belize [BZ]</option>
                        <option value="BJ">Benin [BJ]</option>
                        <option value="BM">Bermuda [BM]</option>
                        <option value="BT">Bhutan [BT]</option>
                        <option value="BO">Bolivia [BO]</option>
                        <option value="BA">Bosnia and Herzegovina [BA]</option>
                        <option value="BW">Botswana [BW]</option>
                        <option value="BV">Bouvet Island [BV]</option>
                        <option value="BR">Brazil [BR]</option>
                        <option value="IO">British Indian Ocean Territory [IO]</option>
                        <option value="VG">British Virgin Islands [VG]</option>
                        <option value="BN">Brunei Darussalam [BN]</option>
                        <option value="BG">Bulgaria [BG]</option>
                        <option value="BF">Burkina Faso [BF]</option>
                        <option value="BI">Burundi [BI]</option>
                        <option value="CI">Côte D'ivoire (Ivory Coast [CI]</option>
                        <option value="KH">Cambodia [KH]</option>
                        <option value="CM">Cameroon [CM]</option>
                        <option value="CA">Canada [CA]</option>
                        <option value="CV">Cape Verde [CV]</option>
                        <option value="KY">Cayman Islands [KY]</option>
                        <option value="CF">Central African Republic [CF]</option>
                        <option value="TD">Chad [TD]</option>
                        <option value="CL">Chile [CL]</option>
                        <option value="CN">China [CN]</option>
                        <option value="CX">Christmas Island [CX]</option>
                        <option value="CC">Cocos (Keeling) Islands [CC]</option>
                        <option value="CO">Colombia [CO]</option>
                        <option value="KM">Comoros [KM]</option>
                        <option value="CG">Congo [CG]</option>
                        <option value="CK">Cook Islands [CK]</option>
                        <option value="CR">Costa Rica [CR]</option>
                        <option value="HR">Croatia [HR]</option>
                        <option value="CU">Cuba [CU]</option>
                        <option value="CY">Cyprus [CY]</option>
                        <option value="CZ">Czech Republic [CZ]</option>
                        <option value="DK">Denmark [DK]</option>
                        <option value="DJ">Djibouti [DJ]</option>
                        <option value="DM">Dominica [DM]</option>
                        <option value="DO">Dominican Republic [DO]</option>
                        <option value="TP">East Timor [TP]</option>
                        <option value="EC">Ecuador [EC]</option>
                        <option value="EG">Egypt [EG]</option>
                        <option value="SV">El Salvador [SV]</option>
                        <option value="GQ">Equatorial Guinea [GQ]</option>
                        <option value="ER">Eritrea [ER]</option>
                        <option value="EE">Estonia [EE]</option>
                        <option value="ET">Ethiopia [ET]</option>
                        <option value="FK">Falkland Islands (Malvinas) [FK]</option>
                        <option value="FO">Faroe Islands [FO]</option>
                        <option value="FJ">Fiji [FJ]</option>
                        <option value="FI">Finland [FI]</option>
                        <option value="FR">France [FR]</option>
                        <option value="FX">France, Metropolitan [FX]</option>
                        <option value="GF">French Guiana [GF]</option>
                        <option value="PF">French Polynesia [PF]</option>
                        <option value="TF">French Southern Territories [TF]</option>
                        <option value="GA">Gabon [GA]</option>
                        <option value="GM">Gambia [GM]</option>
                        <option value="GE">Georgia [GE]</option>
                        <option value="DE">Germany [DE]</option>
                        <option value="GH">Ghana [GH]</option>
                        <option value="GI">Gibraltar [GI]</option>
                        <option value="GR">Greece [GR]</option>
                        <option value="GL">Greenland [GL]</option>
                        <option value="GD">Grenada [GD]</option>
                        <option value="GP">Guadeloupe [GP]</option>
                        <option value="GU">Guam [GU]</option>
                        <option value="GT">Guatemala [GT]</option>
                        <option value="GN">Guinea [GN]</option>
                        <option value="GW">Guinea-Bissau [GW]</option>
                        <option value="GY">Guyana [GY]</option>
                        <option value="HT">Haiti [HT]</option>
                        <option value="HM">Heard and McDonald Islands [HM]</option>
                        <option value="HN">Honduras [HN]</option>
                        <option value="HK">Hong Kong [HK]</option>
                        <option value="HU">Hungary [HU]</option>
                        <option value="IS">Iceland [IS]</option>
                        <option value="IN">India [IN]</option>
                        <option value="ID">Indonesia [ID]</option>
                        <option value="IQ">Iraq [IQ]</option>
                        <option value="IE">Ireland [IE]</option>
                        <option value="IR">Islamic Republic of Iran [IR]</option>
                        <option value="IL">Israel [IL]</option>
                        <option value="IT">Italy [IT]</option>
                        <option value="JM">Jamaica [JM]</option>
                        <option value="JP">Japan [JP]</option>
                        <option value="JO">Jordan [JO]</option>
                        <option value="KZ">Kazakhstan [KZ]</option>
                        <option value="KE">Kenya [KE]</option>
                        <option value="KI">Kiribati [KI]</option>
                        <option value="KP">Korea, Democratic People's Repub [KP]</option>
                        <option value="KR">Korea, Republic of [KR]</option>
                        <option value="KW">Kuwait [KW]</option>
                        <option value="KG">Kyrgyzstan [KG]</option>
                        <option value="LA">Lao People's Democratic Republic [LA]</option>
                        <option value="LV">Latvia [LV]</option>
                        <option value="LB">Lebanon [LB]</option>
                        <option value="LS">Lesotho [LS]</option>
                        <option value="LR">Liberia [LR]</option>
                        <option value="LY">Libyan Arab Jamahiriya [LY]</option>
                        <option value="LI">Liechtenstein [LI]</option>
                        <option value="LT">Lithuania [LT]</option>
                        <option value="LU">Luxembourg [LU]</option>
                        <option value="MO">Macau [MO]</option>
                        <option value="MG">Madagascar [MG]</option>
                        <option value="MW">Malawi [MW]</option>
                        <option value="MY">Malaysia [MY]</option>
                        <option value="MV">Maldives [MV]</option>
                        <option value="ML">Mali [ML]</option>
                        <option value="MT">Malta [MT]</option>
                        <option value="MH">Marshall Islands [MH]</option>
                        <option value="MQ">Martinique [MQ]</option>
                        <option value="MR">Mauritania [MR]</option>
                        <option value="MU">Mauritius [MU]</option>
                        <option value="YT">Mayotte [YT]</option>
                        <option value="MX">Mexico [MX]</option>
                        <option value="FM">Micronesia [FM]</option>
                        <option value="MD">Moldova, Republic of [MD]</option>
                        <option value="MC">Monaco [MC]</option>
                        <option value="MN">Mongolia [MN]</option>
                        <option value="MS">Monserrat [MS]</option>
                        <option value="MA">Morocco [MA]</option>
                        <option value="MZ">Mozambique [MZ]</option>
                        <option value="MM">Myanmar [MM]</option>
                        <option value="NA">Nambia [NA]</option>
                        <option value="NR">Nauru [NR]</option>
                        <option value="NP">Nepal [NP]</option>
                        <option value="AN">Netherlands Antilles [AN]</option>
                        <option value="NL">Netherlands [NL]</option>
                        <option value="NC">New Caledonia [NC]</option>
                        <option value="NZ">New Zealand [NZ]</option>
                        <option value="NI">Nicaragua [NI]</option>
                        <option value="NE">Niger [NE]</option>
                        <option value="NG">Nigeria [NG]</option>
                        <option value="NU">Niue [NU]</option>
                        <option value="NF">Norfolk Island [NF]</option>
                        <option value="MP">Northern Mariana Islands [MP]</option>
                        <option value="NO">Norway [NO]</option>
                        <option value="OM">Oman [OM]</option>
                        <option value="PK">Pakistan [PK]</option>
                        <option value="PW">Palau [PW]</option>
                        <option value="PA">Panama [PA]</option>
                        <option value="PG">Papua New Guinea [PG]</option>
                        <option value="PY">Paraguay [PY]</option>
                        <option value="PE">Peru [PE]</option>
                        <option value="PH">Philippines [PH]</option>
                        <option value="PN">Pitcairn [PN]</option>
                        <option value="PL">Poland [PL]</option>
                        <option value="PT">Portugal [PT]</option>
                        <option value="PR">Puerto Rico [PR]</option>
                        <option value="QA">Qatar [QA]</option>
                        <option value="RE">Réunion [RE]</option>
                        <option value="RO">Romania [RO]</option>
                        <option value="RU">Russian Federation [RU]</option>
                        <option value="RW">Rwanda [RW]</option>
                        <option value="LC">Saint Lucia [LC]</option>
                        <option value="WS">Samoa [WS]</option>
                        <option value="SM">San Marino [SM]</option>
                        <option value="ST">Sao Tome and Principe [ST]</option>
                        <option value="SA">Saudi Arabia [SA]</option>
                        <option value="SN">Senegal [SN]</option>
                        <option value="SC">Seychelles [SC]</option>
                        <option value="SL">Sierra Leone [SL]</option>
                        <option value="SG">Singapore [SG]</option>
                        <option value="SK">Slovakia [SK]</option>
                        <option value="SI">Slovenia [SI]</option>
                        <option value="SB">Solomon Islands [SB]</option>
                        <option value="SO">Somalia [SO]</option>
                        <option value="ZA">South Africa [ZA]</option>
                        <option value="GS">South Georgia and the South Sand [GS]</option>
                        <option value="ES">Spain [ES]</option>
                        <option value="LK">Sri Lanka [LK]</option>
                        <option value="SH">St. Helena [SH]</option>
                        <option value="KN">St. Kitts and Nevis [KN]</option>
                        <option value="PM">St. Pierre and Miquelon [PM]</option>
                        <option value="VC">St. Vincent and the Grenadines [VC]</option>
                        <option value="SD">Sudan [SD]</option>
                        <option value="SR">Suriname [SR]</option>
                        <option value="SJ">Svalbard and Jan Mayen Islands [SJ]</option>
                        <option value="SZ">Swaziland [SZ]</option>
                        <option value="SE">Sweden [SE]</option>
                        <option value="CH">Switzerland [CH]</option>
                        <option value="SY">Syrian Arab Republic [SY]</option>
                        <option value="TW">Taiwan [TW]</option>
                        <option value="TJ">Tajikistan [TJ]</option>
                        <option value="TZ">Tanzania, United Republic of [TZ]</option>
                        <option value="TH">Thailand [TH]</option>
                        <option value="TG">Togo [TG]</option>
                        <option value="TK">Tokelau [TK]</option>
                        <option value="TO">Tonga [TO]</option>
                        <option value="TT">Trinidad and Tobago [TT]</option>
                        <option value="TN">Tunisia [TN]</option>
                        <option value="TR">Turkey [TR]</option>
                        <option value="TM">Turkmenistan [TM]</option>
                        <option value="TC">Turks and Caicos Islands [TC]</option>
                        <option value="TV">Tuvalu [TV]</option>
                        <option value="UG">Uganda [UG]</option>
                        <option value="UA">Ukraine [UA]</option>
                        <option value="AE">United Arab Emirates [AE]</option>
                        <option value="GB">United Kingdom (Great Britain) [GB]</option>
                        <option value="UM">United States Minor Outlying Isl [UM]</option>
                        <option value="US">USA [US]</option>
                        <option value="VI">United States Virgin Islands [VI]</option>
                        <option value="ZZ">Unknown or unspecified country [ZZ]</option>
                        <option value="UY">Uruguay [UY]</option>
                        <option value="UZ">Uzbekistan [UZ]</option>
                        <option value="VU">Vanuatu [VU]</option>
                        <option value="VA">Vatican City State [VA]</option>
                        <option value="VE">Venezuela [VE]</option>
                        <option value="VN">Vietnam [VN]</option>
                        <option value="WF">Wallis and Futuna Islands [WF]</option>
                        <option value="EH">Western Sahara [EH]</option>
                        <option value="YE">Yemen [YE]</option>
                        <option value="YU">Yugoslavia [YU]</option>
                        <option value="ZR">Zaire [ZR]</option>
                        <option value="ZM">Zambia [ZM]</option>
                        <option value="ZW">Zimbabwe [ZW]</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group form-actions">
                    <button type="button" class="btn btn-primary  m-2" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                        (click)="back()">Back</button>
                    <button type="submit" class="btn btn-primary  m-2" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                        [disabled]="!dataForm.form.valid">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>