<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Product Active?</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col text-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="product_active" name="product_active" [(ngModel)]="data.active">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>