<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Customer Credit Card</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="cc_name_on_card">Name on Card</label>
                            <input [(ngModel)]="data.cc_name_on_card" type="text" name="cc_name_on_card" id="cc_name_on_card" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="cc_number">Credit Card Number for Purchases</label>
                            <input [(ngModel)]="data.cc_number" type="text" name="cc_number" id="cc_number" class="form-control form-control-lg" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="cc_exp_date">Expiration Date</label>
                            <input [(ngModel)]="data.cc_exp_date" type="date" name="cc_exp_date" id="cc_exp_date" class="form-control form-control-lg" placeholder="Expiration Date - YYYY-MM" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid"
                            [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>