.home {
    border-radius   : 20px;
    background-color: #fff;
    box-shadow      : 0 0 24px 0 rgba(47, 170, 247, 0.04);
}

.home__content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    height         : 500px;
    width          : 100%;
    padding        : 20px;

}

.home__text b {
    font-weight: 600;
}
.home__btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 200px;
    border-radius: 32px;
    background-color: #000000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.6px;
    transition: 0.6s;
    margin-top: 40px;
  }
  .home__btn:hover {
    color: #fff;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
  }