<div class="ta-vertical-center">
    <section class="container-server-errors">

    
        <div class="server-errors pages-card">
            <div class="status-text-1">Uh Oh!</div>
            <div class="status-error text-theme hertbit">4 0 4</div>
            <div class="text-center status-text-2 text-dark">Something unexpected happened ... sorry!</div>
            <div class="text-center">
                <a routerLink="/" class="btn  btn-theme login-btn text-white"> Go to Home Page </a>
            </div>
    
        </div>
        <!-- end server-error pages -->
    </section>
    <!-- end secton container -->
    
</div>

<div class="half-circle"></div>
<div class="small-circle"></div>
<div class="half-circle-bottom"></div>