<form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="data">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Gender at Birth</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select [(ngModel)]="data.gender" name="gender" id="gender" class="form-select form-select-lg" autofocus>
                                <option value="" selected disabled hidden>Choose Gender at Birth</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>