<div class="containter-fluid" style="min-height: 100%;" [ngStyle]="{'background-color': backgroundColor}">
    <div class="row">
        <div class="col">
            <app-header [isHome]="isHome" [isSpecialHome]="isSpecialHome" [isSignIn]="isSignIn" [company]="company" [color]="color"></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-footer *ngIf="footerSection"
            [data]="company"></app-footer>
        </div>
    </div>
</div>