<div class="loader" *ngIf="!(customerService.items | async) else finished" >
    <div class="loader-inner">
        <div class="spinner multicolor">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
</div><ng-template #finished> 
    <div class="card"
    *ngIf="((customerService.items | async)?.length != 0) else nodata">
        <div class="card-header">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter"></i></span>
                <input [(ngModel)]="filteredData" type="text" class="form-control" placeholder="Type to filter" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of customerService.items | async | customerFilter:filteredData | sortByLastName; let i = index" (click)="onView(data)" style="cursor: pointer;">
                            <td>{{data?._id}}</td>
                            <td>{{data?.lastName}}<span *ngIf="data.lastName && data.firstName">,</span> {{data?.firstName}}</td>
                            <td class="text-capitalize">{{data?.companyName}}</td>
                            <td>{{data?.email}}</td>
                            <td class="text-capitalize">{{data?.status}}</td>
                        </tr>
                    </tbody>
        
                </table>
            </div>
        
        </div>    
    </div>
    <ng-template #nodata>
            <div class="alert alert-light text-center" role="alert"><br> No customers found.</div>
    </ng-template>
</ng-template>

