<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngIf="data" class="form-group m-2">
                    <input [(ngModel)]="data.phone" id="phoneNumber" name="phoneNumber" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                        placeholder="Contact Phone xxx-xxx-xxxx" class="form-control form-control-lg" type="tel" minlength="7" required pattern="[0-9]{3}.[0-9]{3}.[0-9]{4}">
                </div>
                <div *ngIf="data" class="form-group m-2">
                    <div class="form-group form-check">
                        <input [(ngModel)]="data.textNotification" type="checkbox" class="form-check-input" id="textNotification" name="textNotification">
                        <label class="form-check-label" for="textNotification">Text Notification</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group form-actions">
                    <button type="button" class="btn btn-primary  m-2" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                        (click)="back()">Back</button>
                    <button type="submit" class="btn btn-primary  m-2" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                        [disabled]="!dataForm.form.valid">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>