<div class="container ta-vertical-center text-center">
    <div class="row">
        <div class="col">
            <div class="text-center text-capitalize">
                <h1>Thank You!</h1>
            </div>
            <div class="text-center">
                <h4>Check Your Email</h4>
                <div class="hertbit">
                    <h1 [ngStyle]="{'color': colorService.darkBackground}"> <i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
                </div>
                <p>A request to verify your email address has been sent.</p>
                <p>We just wanna make sure it's you who placed the order.</p>
                <p>Clicking the link or copying the link to the address bar and hitting enter <strong>complete the order</strong> process.</p>
            </div>
        </div>
    </div>
</div>