<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center text-capitalize">
                    <h4>Thank You!</h4>
                </div>
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col text-center">
                            <h4>Check Your Email</h4>
                            <div class="hertbit">
                                <h1 [ngStyle]="{'color': colorService.darkBackground}"> <i class="fa fa-envelope-o"
                                       aria-hidden="true"></i></h1>
                            </div>
                
                            <p>A request to verify your email address has been sent. </p><p>Clicking the link or copying the link to the address bar and hitting enter <strong>begins the order</strong> process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>