<form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="data && data.dependency">
    <div class="containter-fluid wow fadeInLeft mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Product Dependency Pricing</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input [(ngModel)]="data.dependency.price_dependent" class="form-check-input" type="checkbox" role="switch" id="price_dependent"  name="price_dependent">
                            <label class="form-check-label" for="price_dependent">Price Dependent?</label>
                          </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="category">Dependency Code</label>
                            <select [(ngModel)]="data.dependency.dependency_code" name="dependency_code" id="dependency_code" class="form-select form-select-lg" required>
                                <option value="" selected>Choose Code</option>
                                <option *ngFor="let t of dependencyCodeService.items | async | nameSort" value="{{t.name}}">{{t.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="dataPrice">Price</label>
                            <input [(ngModel)]="data.dependency.price" type="number" name="dataPrice" id="dataPrice" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="sale_price">Sale Price</label>
                            <input [(ngModel)]="data.dependency.sale_price" type="number" name="sale_price" id="sale_price" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="data.dependency.on_sale" type="checkbox" name="on_sale" id="on_sale" class="form-check-input">
                            <label class="form-check-label" for="on_sale">On Sale</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
