<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Primary Credit Card</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="ccNameOnCard">Name on Card</label>
                            <input [(ngModel)]="data.temp.ccNameOnCard" type="text" name="ccNameOnCard" id="ccNameOnCard" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="ccNumber">Credit Card Number</label>
                            <div class="input-group">
                                <input [(ngModel)]="data.temp.ccNumber" type="password" id="ccNumber" name="ccNumber" placeholder="Credit Card Number" class="form-control form-control-lg" required>
                                <span class="input-group-text" id="basic-addon1" (click)="showContent()" style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="ccExpDate">Expiration Date</label>
                            <input [(ngModel)]="data.temp.ccExpDate" type="month" name="ccExpDate" id="ccExpDate" class="form-control form-control-lg" placeholder="Expiration Date - YYYY-MM" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>