<div class="container-fluid" *ngIf="data">
    <div class="row mb-3 mt-5">
        <div class="col-md text-center">
            <button type="button" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div class="card">
                <div class="card-header"> Info </div>
                <div class="card-body">
                    <strong>ID:</strong> {{data._id}}<br>
                    <strong>Amount:</strong> {{data?.amount | currency}}<br>
                    <strong>IP:</strong> {{data?.browser_ip}}<br>
                    <strong>Created:</strong> {{data?.created_at | date}}<br>
                    <strong>Updated:</strong> {{data?.updated_at | date:'medium'}}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header"> Customer Info </div>
                <div class="card-body">
                    <strong>Name:</strong> {{data?.first_name}} {{data?.last_name}}<br>
                    <strong>Company or Organization:</strong> {{data?.company_name}}<br>
                    <strong>Address:</strong> {{data?.address1}} {{data?.address2}} {{data?.city}} {{data?.province}} {{data?.zip}}<br>
                    <strong>Phone:</strong> {{data?.phone}}<br>
                    <strong>Email:</strong> {{data?.email}}<br>
                </div>
            </div>
        </div>
        <div class="col-md" *ngIf="data && data.user_type === 'practitioner'">
            <div class="card">
                <div class="card-header">Practitioner Info</div>
                <div class="card-body">
                    <strong>Practice Number:</strong> {{data?.customer_id}}<br>
                    <strong>Practice Name:</strong> {{data?.practitioner_name}}<br>
                    <strong>Practice First Name:</strong> {{data?.prac_first_name}}<br>
                    <strong>Practice Last Name:</strong> {{data?.prac_last_name}}<br>
                    <strong>NPI:</strong> {{data?.npi}}<br>
                    <strong>Orderer Name:</strong> {{data?.prac_first_name}} {{data?.prac_last_name}}<br>
                    <strong>Payer:</strong> {{data?.prac_pay}}<br>
                    <strong>Phone:</strong> {{data?.prac_phone}}<br>
                </div>
            </div>
        </div>
        <div class="col-md" *ngIf="data && data.payment_details">
            <div class="card">
                <div class="card-header"> Credit Card Info </div>
                <div class="card-body"> {{data?.payment_details?.cc_name_on_card}}<br> {{data?.payment_details?.cc_number}}<br> {{data?.payment_details?.cc_exp_date}} </div>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="data && data.line_items">
        <div class="col-md">
            <div class="card">
                <div class="card-header">Items in Cart</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of data.line_items; let i = index">
                            <img *ngIf="item.product && item.product.files && item.product.files.length" class="img-fluid" style="max-height: 120px;" src="{{item?.product?.files[0]?.url}}" alt="{{item?.product?.title}}"> {{item?.product?.title}} <span
                                class="badge bg-primary rounded-pill">{{item?.quantity}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="data && data.shipping_address">
        <div class="col-md">
            <div class="card">
                <div class="card-header">Shipping Information</div>
                <div class="card-body">
                    <strong>Address1:</strong> {{data?.shipping_address?.address1}} {{data?.shipping_address?.address2}} <br><strong>City:</strong> {{data?.shipping_address?.city}}<br>
                    <strong>Province:</strong> {{data?.shipping_address?.province}}<br>
                    <strong>Zip:</strong> {{data?.shipping_address?.zip}}<br>
                    <strong>Country:</strong> {{data?.shipping_address?.country}}<br>
                </div>
            </div>
        </div>
    </div>
</div>