<form #dataForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="data">
    <div class="containter-fluid wow fadeInLeft">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Company Email</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="companyEmail">Email Address for Support</label>
                            <input [(ngModel)]="data.email" type="email" name="companyEmail" id="companyEmail" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="companyAddress">Address</label>
                            <input [(ngModel)]="data.address" type="text" name="companyAddress" id="companyAddress" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="companyCity">City</label>
                            <input [(ngModel)]="data.city" type="text" name="companyCity" id="companyCity" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="companyProvince">Province</label>
                            <input [(ngModel)]="data.province" type="text" name="companyProvince" id="companyProvince" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="companyZip">Zip</label>
                            <input [(ngModel)]="data.zip" type="text" name="companyZip" id="companyZip" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" [ngStyle]="{'background-color': colorService.secondaryColor, 'border-color': colorService.secondaryColor}"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>